/* General Styles */
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

p{ margin: 2px 0; padding:0}

h2,label {
    text-transform: uppercase;
}

.container{
    padding-top: 25px;
    margin-top: 10px;
}

/* Header Styles */

.nav-container{
    width:100%;
    background-color: #131313;
    padding:10px;
    height:50px;
    border-bottom: 4px solid;
    opacity: 0.8;
}
.nav-container a {
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 25px;
}


/* Content Styles */

.task-list-container,.task-form-container{
    padding: 10px;
    margin-bottom: 10px;
}

.task-list .task-item{
    margin: 15px 0;
}

.task-list span.task-title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #888888;
    display: block;
}
.task-list span.task-info {
    font-weight: bold;
    font-size: 16px;
    display: inline;
}

.task-list-container .task-tab{
    text-decoration: none;
    color: black;
}

.task-list-container .task-tab.selected{
    color: #2e6da4;
}
.task-list-container .task-tab:hover{
    color: #2e6da4;
}